/* 
Block: browser respects width/height, top/bottom margin

Inline: 
browser does not respect width/height,
top/bottom margin

Navbar
list-type: property
descendant selectors

*/

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul  {
    list-style-type: none;
}

/* 
line no. 
11
12
13
14
*/
/*  a is inline element */
ul a {
    color: #f15025; 
    text-decoration: none;
    letter-spacing: 2px;
    background: #222;
    /* line-height: 2rem; */
    padding:10px;

    /* margin: 0 ; */
    /* margin-bottom: px ; */
    
    width: 140px;
    height: 50px;

    /* margin-bottom: 10px; */


    display: block;


}


/* 
ul li {
    margin: 20px;
} */

/* line no 15 */
/* direct child */
/* ul > a {
    color: green;
} */